In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/water-consumption/Household water consumption dataset/Data Description/Tank 2-Data Description.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Data Description/Tank 1-Data Description.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/3.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/9.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/4.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/12.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/14.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/1.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/7.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/11.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/8.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/16.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/10.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/13.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/2.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/5.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/6.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files/15.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/3.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/9.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/4.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/12.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/1.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/7.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/11.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/8.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/10.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/13.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/2.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/5.xlsx
/kaggle/input/water-consumption/Household water consumption dataset/Tank 1-Data Files/6.xlsx

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import glob
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras import layers
from tensorflow.keras.layers import LSTM, Dense, GRU
from sklearn.metrics import r2_score, mean_squared_error


import warnings
warnings.filterwarnings('ignore')

In [3]:
folder_path = '/kaggle/input/water-consumption/Household water consumption dataset/Tank 2-Data Files'
files_list = glob.glob(folder_path + '/*.xlsx')
dfs = []
for file in files_list:
    df = pd.read_excel(file, parse_dates=(['created_at']))
    dfs.append(df)
    
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.head()

           created_at  entry_id  field1
0 2018-02-02 04:59:00     17392    25.0
1 2018-02-02 04:59:19     17393    25.0
2 2018-02-02 04:59:38     17394    25.0
3 2018-02-02 04:59:58     17395    25.0
4 2018-02-02 05:00:17     17396    25.0

In [4]:
merged_df['created_at'] = pd.to_datetime(merged_df['created_at'], format='%d/%m/%Y %H:%M')
merged_df["year"] = merged_df["created_at"].dt.year
merged_df["month"] = merged_df["created_at"].dt.month
merged_df["day"] = merged_df["created_at"].dt.day
merged_df["hour"] = merged_df["created_at"].dt.hour
merged_df["minute"] = merged_df["created_at"].dt.minute
merged_df.head()

           created_at  entry_id  field1  year  month  day  hour  minute
0 2018-02-02 04:59:00     17392    25.0  2018      2    2     4      59
1 2018-02-02 04:59:19     17393    25.0  2018      2    2     4      59
2 2018-02-02 04:59:38     17394    25.0  2018      2    2     4      59
3 2018-02-02 04:59:58     17395    25.0  2018      2    2     4      59
4 2018-02-02 05:00:17     17396    25.0  2018      2    2     5       0

In [5]:
null_data = merged_df.isna().sum()
duplicate_rows = merged_df.duplicated()
print('Nulls', null_data)
print('Duplicates', duplicate_rows)

Nulls created_at    0
entry_id      0
field1        0
year          0
month         0
day           0
hour          0
minute        0
dtype: int64
Duplicates 0         False
1         False
2         False
3         False
4         False
          ...
171692    False
171693    False
171694    False
171695    False
171696    False
Length: 171697, dtype: bool

In [6]:
# Detecting outliers using Z-score or IQR
# Let's focus on the "field1" column for outlier detection
Q1 = merged_df["field1"].quantile(0.25)
Q3 = merged_df["field1"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


# Identify and remove outliers
df_no_outliers = merged_df[
    (merged_df["field1"].iloc[:] >= lower_bound) &
    (merged_df["field1"].iloc[:] <= upper_bound)
]
df_no_outliers.head()

           created_at  entry_id  field1  year  month  day  hour  minute
0 2018-02-02 04:59:00     17392    25.0  2018      2    2     4      59
1 2018-02-02 04:59:19     17393    25.0  2018      2    2     4      59
2 2018-02-02 04:59:38     17394    25.0  2018      2    2     4      59
3 2018-02-02 04:59:58     17395    25.0  2018      2    2     4      59
4 2018-02-02 05:00:17     17396    25.0  2018      2    2     5       0

In [7]:
X = df_no_outliers.drop(['field1', 'created_at'], axis=1)
y = df_no_outliers['field1']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
# Applying Standard Scaling to the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
# Reshape data for LSTM and  gru (samples, timesteps, features)
X_train_reshaped = X_train_scaled.reshape(X_train_scaled.shape[0], 1, X_train_scaled.shape[1])
X_test_reshaped = X_test_scaled.reshape(X_test_scaled.shape[0], 1, X_test_scaled.shape[1])

In [14]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch
import kerastuner as kt

# Define a function to build the LSTM model with hyperparameters
def build_model(hp):
    model = keras.Sequential()
    model.add(LSTM(units=hp.Int('units', min_value=32, max_value=256, step=32),
                   activation=hp.Choice('activation', values=['relu', 'tanh']),
                   return_sequences=True,
                   input_shape=(1, X_train_scaled.shape[1])))
    model.add(LSTM(units=hp.Int('units', min_value=32, max_value=128, step=32),
                   activation=hp.Choice('activation', values=['relu', 'tanh'])))
    model.add(Dense(1))

    # Compile the model
    model.compile(optimizer=keras.optimizers.Adam(learning_rate=hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])),
                  loss='mse',
                  metrics=['mse'])
    return model

# Define the tuner and search space
tuner = RandomSearch(
    build_model,
    objective='val_loss',
    max_trials=10,  # Number of trials to run
    directory='my_tuning_directory',  # Directory to save results
    project_name='my_lstm_tuning'  # Name for this tuning project
)

# Perform hyperparameter tuning
tuner.search(X_train_reshaped, y_train, epochs=50, validation_data=(X_test_reshaped, y_test), callbacks=[early_stopping])

# Get the best hyperparameters
best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]

# Build the best model
best_model = tuner.hypermodel.build(best_hps)

# Train the best model
best_model.fit(X_train_reshaped, y_train, epochs=100, validation_data=(X_test_reshaped, y_test), callbacks=[early_stopping])

# Evaluate the best model
y_pred = best_model.predict(X_test_reshaped)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE) for Best Model:", mse)

Trial 10 Complete [00h 14m 57s]
val_loss: 3.524121046066284

Best val_loss So Far: 2.0956525802612305
Total elapsed time: 03h 53m 00s
Epoch 1/100
4183/4183 [==============================] - 39s 8ms/step - loss: 341.1127 - mse: 341.1127 - val_loss: 295.5520 - val_mse: 295.5520
Epoch 2/100
4183/4183 [==============================] - 33s 8ms/step - loss: 282.7931 - mse: 282.7931 - val_loss: 271.7599 - val_mse: 271.7599
Epoch 3/100
4183/4183 [==============================] - 31s 8ms/step - loss: 226.6319 - mse: 226.6319 - val_loss: 190.4625 - val_mse: 190.4625
Epoch 4/100
4183/4183 [==============================] - 32s 8ms/step - loss: 156.4347 - mse: 156.4347 - val_loss: 130.0904 - val_mse: 130.0904
Epoch 5/100
4183/4183 [==============================] - 32s 8ms/step - loss: 103.3890 - mse: 103.3890 - val_loss: 81.8784 - val_mse: 81.8784
Epoch 6/100
4183/4183 [==============================] - 31s 7ms/step - loss: 69.0744 - mse: 69.0744 - val_loss: 56.3356 - val_mse: 56.3356
Epoch 7/100
4183/4183 [==============================] - 32s 8ms/step - loss: 50.0500 - mse: 50.0500 - val_loss: 43.4108 - val_mse: 43.4108
Epoch 8/100
4183/4183 [==============================] - 32s 8ms/step - loss: 40.5001 - mse: 40.5001 - val_loss: 36.7765 - val_mse: 36.7765
Epoch 9/100
4183/4183 [==============================] - 34s 8ms/step - loss: 34.6039 - mse: 34.6039 - val_loss: 31.9054 - val_mse: 31.9054
Epoch 10/100
4183/4183 [==============================] - 34s 8ms/step - loss: 29.9950 - mse: 29.9950 - val_loss: 28.4481 - val_mse: 28.4481
Epoch 11/100
4183/4183 [==============================] - 31s 7ms/step - loss: 26.3092 - mse: 26.3092 - val_loss: 25.0700 - val_mse: 25.0700
Epoch 12/100
4183/4183 [==============================] - 34s 8ms/step - loss: 21.8773 - mse: 21.8773 - val_loss: 20.4737 - val_mse: 20.4737
Epoch 13/100
4183/4183 [==============================] - 32s 8ms/step - loss: 18.4130 - mse: 18.4130 - val_loss: 16.4317 - val_mse: 16.4317
Epoch 14/100
4183/4183 [==============================] - 32s 8ms/step - loss: 14.6888 - mse: 14.6888 - val_loss: 12.6955 - val_mse: 12.6955
Epoch 15/100
4183/4183 [==============================] - 32s 8ms/step - loss: 11.5882 - mse: 11.5882 - val_loss: 11.2608 - val_mse: 11.2608
Epoch 16/100
4183/4183 [==============================] - 32s 8ms/step - loss: 9.7509 - mse: 9.7509 - val_loss: 9.4471 - val_mse: 9.4471
Epoch 17/100
4183/4183 [==============================] - 32s 8ms/step - loss: 7.9834 - mse: 7.9834 - val_loss: 8.5634 - val_mse: 8.5634
Epoch 18/100
4183/4183 [==============================] - 33s 8ms/step - loss: 6.5314 - mse: 6.5314 - val_loss: 5.5925 - val_mse: 5.5925
Epoch 19/100
4183/4183 [==============================] - 35s 8ms/step - loss: 5.4957 - mse: 5.4957 - val_loss: 5.2989 - val_mse: 5.2989
Epoch 20/100
4183/4183 [==============================] - 33s 8ms/step - loss: 4.8852 - mse: 4.8852 - val_loss: 5.1027 - val_mse: 5.1027
Epoch 21/100
4183/4183 [==============================] - 35s 8ms/step - loss: 4.6666 - mse: 4.6666 - val_loss: 5.0626 - val_mse: 5.0626
Epoch 22/100
4183/4183 [==============================] - 34s 8ms/step - loss: 4.4500 - mse: 4.4500 - val_loss: 4.5829 - val_mse: 4.5829
Epoch 23/100
4183/4183 [==============================] - 34s 8ms/step - loss: 4.0573 - mse: 4.0573 - val_loss: 4.1814 - val_mse: 4.1814
Epoch 24/100
4183/4183 [==============================] - 33s 8ms/step - loss: 4.0413 - mse: 4.0413 - val_loss: 4.0294 - val_mse: 4.0294
Epoch 25/100
4183/4183 [==============================] - 32s 8ms/step - loss: 3.7902 - mse: 3.7902 - val_loss: 4.9113 - val_mse: 4.9113
Epoch 26/100
4183/4183 [==============================] - 32s 8ms/step - loss: 3.8012 - mse: 3.8012 - val_loss: 3.6112 - val_mse: 3.6112
Epoch 27/100
4183/4183 [==============================] - 35s 8ms/step - loss: 3.6313 - mse: 3.6313 - val_loss: 3.8566 - val_mse: 3.8566
Epoch 28/100
4183/4183 [==============================] - 34s 8ms/step - loss: 3.4549 - mse: 3.4549 - val_loss: 3.2927 - val_mse: 3.2927
Epoch 29/100
4183/4183 [==============================] - 32s 8ms/step - loss: 3.3999 - mse: 3.3999 - val_loss: 3.3227 - val_mse: 3.3227
Epoch 30/100
4183/4183 [==============================] - 31s 8ms/step - loss: 3.1641 - mse: 3.1641 - val_loss: 3.2648 - val_mse: 3.2648
Epoch 31/100
4183/4183 [==============================] - 34s 8ms/step - loss: 3.2007 - mse: 3.2007 - val_loss: 3.6420 - val_mse: 3.6420
Epoch 32/100
4183/4183 [==============================] - 32s 8ms/step - loss: 3.0972 - mse: 3.0972 - val_loss: 3.2103 - val_mse: 3.2103
Epoch 33/100
4183/4183 [==============================] - 34s 8ms/step - loss: 3.0337 - mse: 3.0337 - val_loss: 3.1341 - val_mse: 3.1341
Epoch 34/100
4183/4183 [==============================] - 32s 8ms/step - loss: 2.9689 - mse: 2.9689 - val_loss: 3.0129 - val_mse: 3.0129
Epoch 35/100
4183/4183 [==============================] - 34s 8ms/step - loss: 2.9510 - mse: 2.9510 - val_loss: 2.7780 - val_mse: 2.7780
Epoch 36/100
4183/4183 [==============================] - 32s 8ms/step - loss: 2.8621 - mse: 2.8621 - val_loss: 3.4867 - val_mse: 3.4867
Epoch 37/100
4183/4183 [==============================] - 34s 8ms/step - loss: 2.6819 - mse: 2.6819 - val_loss: 2.8938 - val_mse: 2.8938
Epoch 38/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.7601 - mse: 2.7601 - val_loss: 2.6611 - val_mse: 2.6611
Epoch 39/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.7538 - mse: 2.7538 - val_loss: 4.3407 - val_mse: 4.3407
Epoch 40/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.6496 - mse: 2.6496 - val_loss: 3.7201 - val_mse: 3.7201
Epoch 41/100
4183/4183 [==============================] - 33s 8ms/step - loss: 2.5568 - mse: 2.5568 - val_loss: 2.6651 - val_mse: 2.6651
Epoch 42/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.5597 - mse: 2.5597 - val_loss: 2.4833 - val_mse: 2.4833
Epoch 43/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.5128 - mse: 2.5128 - val_loss: 2.8212 - val_mse: 2.8212
Epoch 44/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.5584 - mse: 2.5584 - val_loss: 2.6272 - val_mse: 2.6272
Epoch 45/100
4183/4183 [==============================] - 34s 8ms/step - loss: 2.5331 - mse: 2.5331 - val_loss: 2.5007 - val_mse: 2.5007
Epoch 46/100
4183/4183 [==============================] - 34s 8ms/step - loss: 2.3595 - mse: 2.3595 - val_loss: 2.6248 - val_mse: 2.6248
Epoch 47/100
4183/4183 [==============================] - 35s 8ms/step - loss: 2.3799 - mse: 2.3799 - val_loss: 2.5308 - val_mse: 2.5308
1046/1046 [==============================] - 4s 3ms/step
Mean Squared Error (MSE) for Best Model: 2.483278335045146

In [15]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r_squared = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mse = mean_squared_error(y_test, y_pred)

print("TANK2:")
print("R-squared:", r_squared)
print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Squared Error:", mse)

TANK2:
R-squared: 0.9928501777131379
Mean Absolute Error: 0.6301422638430128
Root Mean Squared Error: 1.5758421034625094
Mean Squared Error: 2.483278335045146